{#
    This custom template is used to add a "home" page,
    and is necessary since there is no root module in PET
    (whose `__init__.py` would normally serve as "home").
    Ref https://github.com/mitmproxy/pdoc/issues/410
    Most of this file is just copied from
    https://github.com/mitmproxy/pdoc/blob/28238e2550b41ff86039da4a524f6d33928705af/pdoc/templates/default/index.html.jinja2
#}
{% extends "default/index.html.jinja2" %}

{% set logo = 'https://github.com/Python-Ensemble-Toolbox/.github/blob/main/profile/pictures/logo.png?raw=true' %}
{% set logo_link = '/PET' %}
{% set favicon = 'https://github.com/Python-Ensemble-Toolbox/.github/blob/main/profile/pictures/logo.png?raw=true' %}

# HTML head (i.e. tab) title
{% block title %}PET docs{% endblock %}

# Only list top-level (not all submodules), also on this (index) page
{% block nav %}
    <h2>Available Modules</h2>
    <ul>
        {% for m in all_modules if "." not in m and not m.startswith("_") %}
            <li>
                <a href="{{ m.replace(".","/") }}.html">{{ m }}</a>
                <span class="doc0">{{ all_modules[m].docstring.split('\n')[0] | truncate(92, True) }}</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

# Include docs/templates/home.md
{% block content %}
    <header class="pdoc">
        {% block logo %}
            {% if logo %}
                {% if logo_link %}<a href="{{ logo_link }}">{% endif %}
                <img src="{{ logo }}" alt="project logo"/>
                {% if logo_link %}</a>{% endif %}
            {% else %}
                <a href="https://pdoc.dev">
                    <img src="data:image/svg+xml,{% filter urlencode %}{% include "resources/pdoc-logo.svg" %}{% endfilter %}"
                         alt="pdoc"/>
                </a>
            {% endif %}
        {% endblock %}
        {% if search %}
            <input type="search" placeholder="Search API Documentation..." aria-label="search box">
        {% endif %}
    </header>

    <main class="pdoc">
        {% filter to_html %}
            {% include 'home.md' %}
        {% endfilter %}
    </main>

    {% if search %}
        {% include "search.html.jinja2" %}
    {% endif %}

    <footer class="d-none d-md-block">
        {% include "_github-button.html" %}
    </footer>
{% endblock %}
