{#
    Add logo and tab title
    Also include 1st line of docstring in submodule listing
#}
{% extends "default/module.html.jinja2" %}

{% set logo = 'https://github.com/Python-Ensemble-Toolbox/.github/blob/main/profile/pictures/logo.png?raw=true' %}
{% set logo_link = '/' %}
{% set favicon = 'https://github.com/Python-Ensemble-Toolbox/.github/blob/main/profile/pictures/logo.png?raw=true' %}

# HTML head (i.e. tab) title
{% block title %}PET docs: {{ module.modulename }}{% endblock %}

# Add submodule docstring 1st line
{% block nav_submodules %}
    {% if module.submodules %}
        <h2>Submodules</h2>
        <ul>
            {% for m in module.submodules if is_public(m) | trim %}
                <li>
                    {{ m.taken_from | link(text=m.name) }}
                    <span class="doc0">{{ m.docstring.split('\n')[0] | truncate(92, True) }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
