# From https://github.com/actions/starter-workflows
#
# Potential todos (ref DAPPER)
# - Compute test coverage and submit to coveralls.io
# - Also config for macOS and/or Windows
# - Also config for conda
# - Lint

name: CI tests

on:
  push:
    branches:
      - '*'
      # - main
      # - master
  pull_request:
    branches:
      - '*'

jobs:
  bundled:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", 3.11, 3.12]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -e .
    - name: Launch tests
      run: |
        pytest
